// media queries
@mixin media-query($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}
// micro-clearfix
@mixin micro-clearfix {
	&:before,
	&:after {
		content: '';
		display:table;
	}
	&:after {
		clear:both;
	}
}