.page,
.page-cover {
	.js-side-nav-is-displayed & { 
		left: $width-side-nav;
		position: absolute;
		top: 0;
		width: calc(100% - #{$width-side-nav});
	}
}
.page-cover {
	cursor: pointer;
	display: none;
	height: 100%;
	z-index: $z-index-side-nav;
	.js-side-nav-is-displayed & { 
		display: block;
	}
}