[data-position-sticky=true] {
  bottom: auto;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
[data-position-sticky=true][data-stickybits-sticky=true] {
	top: 0;
}
[data-position-sticky=true][data-stickybits-sticky=false] {
	top: auto;
}