[name="logo"] {
	height: $logo-small;
	width: $logo-small;
	@include media-query($width-dsc-small) {
		height: $logo-large;
		width: $logo-large;
	}
}
[name="bbb-svg"] {
	height: $bbb-height;
	width: $bbb-width;
	margin-right: $spacing-unit;
}
[name="ca-business-svg"] {
	height: $ca-business-svg-height;
	width: $ca-business-svg-width;
	@include media-query($width-dsc-small) {
		margin-right: $spacing-unit;
	}
}
.site-footer {
	[name="facebook"],
	[name="twitter"],
	[name="pinterest"],
	[name="instagram"],
	[name="google-plus"],
	[name="youtube"] {
		background: $color-font-footer;
		border-radius: 100%;
		fill: $color-background-footer;
		height: $social-footer-size;
		margin-left: $spacing-unit * .5;
		padding: $spacing-unit * .15;
		width: $social-footer-size;
	}
}