// space stuff
$spacing-unit: 1rem !default;

// text stuff
$font-family-default: sans-serif !default;
$font-size-default: $spacing-unit !default;
$line-height: 1;
$line-height-default: $line-height * 2 !default;

// colors
$color-grey: #828282 !default;
$color-grey-dark: #292929 !default;
$color-grey-light: lighten($color-grey, 40%) !default;
$color-brand: $color-grey !default;

// widths/heights
$height: $spacing-unit * 37.5 !default;
$width: $height !default;

